<head>
  <title>{% if page.title %} {{ page.title }} {% else %} {{ site.data.data.personal.name }} {% endif %}</title>

  <!-- Global Site Tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106916104-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments)};
    gtag('js', new Date());

    gtag('config', 'UA-106916104-1');
  </script>

  <meta name="google-site-verification" content="L-d2N9CWcHSBMSP8k7lTW6Z3oNaleAbrLxKTm9U-_yw" />

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- reset CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/res/css/reset.css">

  <!-- custom CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/res/css/main.css">

  <!-- syntax highlighting CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/res/css/syntax.css" media="screen">

  <!-- redirection of 404 error -->
  {% if page.url == "/404.html" %}
      <meta http-equiv="refresh" content="3; url=/">
  {% endif %}
</head>
