<div class="custom-nav">
	<nav>
		{% assign pages = site.pages | reverse %}
		{% for page in pages %}
      {% if page.title and page.url != "/" and page.float == "right" %}
				<div class="nav-button" >
        	<a class="button" href="{{ page.url }}">{{ page.title }}</a>
				</div>
      {% endif %}
    {% endfor %}
	</nav>
	{% assign pages = site.pages | reverse %}
	{% for page in pages %}
		{% if page.title and page.float == "left" %}
			<div class="nav-home" >
				<a class="button" href="{{ page.url }}">{{ page.title }}</a>
			</div>
		{% endif %}
	{% endfor %}
</div>
