---
layout: academic
permalink: /background/
title: "background"
float: right
---

<div class="academic-title">
    {% include pages/title.html title=site.data.experience.title %}
</div>

{% include pages/experience.html %}

<div class="academic-title">
    {% include pages/title.html title=site.data.extracurricular.title %}
</div>

{% include pages/extracurricular.html %}


<div class="academic-title">
    {% include pages/title.html title=site.data.projects.title %}
</div>

{% include pages/projects.html %}
