---
layout: academic
title: "publications"
permalink: /publications/
float: right
---

<div class="academic-title">
  <h1>{{ site.data.publications.title }}</h1>
</div>

{% include publications/papers.html publication=site.data.publications.journal %}

{% include publications/papers.html publication=site.data.publications.conference %}

{% include publications/papers.html publication=site.data.publications.abstracts %}

{% include publications/papers.html publication=site.data.publications.thesis %}

{% include publications/papers.html publication=site.data.publications.posters %}

{% include publications/papers.html publication=site.data.publications.book-chapters %}

{% include publications/papers.html publication=site.data.publications.other-publications %}

{% include publications/papers.html publication=site.data.publications.students %}

{% include publications/papers.html publication=site.data.publications.papers-in-preparation %}

{% include publications/papers.html publication=site.data.publications.talks %}

{% include publications/media.html %}
