{% if site.data.publications.abstract.papers.size > 0 %}
<a href="{{ site.data.publications.abstract.url }}"> <h2 class="academic">{{ site.data.publications.abstract.title }}</h2> </a>
<div class="about-content">
    {% assign papers = site.data.publications.abstract.papers %}
    {% for item in papers %}
    <div class="description-about">
  		{{ item.authors }}, <a href="{{ item.url }}" class="about-publication">"{{ item.title }}"</a> {{ item.book }}
    </div>
    {% endfor %}
</div>
{% endif %}
