{% if site.data.publications.news.papers.size > 0 %}
<a href="{{ site.data.publications.news.url }}"> <h2 class="academic">{{ site.data.publications.news.title }}</h2> </a>
<div class="about-content">
    {% assign papers = site.data.publications.news.papers %}
    {% for item in papers %}
    <div class="news">
      <time class="news-date-pub" itemprop="datePublished" datetime="{{ item.date | date: "%Y-%m-%d"}}">{{ item.date | date: "%b %d, %Y" }}</time>
      <div class="news-announcement description-news">
        <a href="{{ item.url }}" class="about-publication">"{{ item.title }}"</a>, {{ item.from }}
      </div>
    </div>
    {% endfor %}
</div>
{% endif %}
