<div class="col-sm-3 sidebar-background">

</div>

<div class="col-sm-3 custom-nav">

	<div id="about-title">
	<a href="{{ site.baseurl }}/">
		<img id="about" src="{{ site.baseurl }}/res/img/logo.jpg" />
		<h1>{{ site.name }}</h1>
	</a>
	</div>

	{% include navigation.html %}

	<div id="about">
		<strong>About:</strong><br />
		I am a graduate Computer Science Engineering student at the KULeuven. My main interests are programming languages, distributed systems and artificial intelligence.
	</div>

	<div class="">
		<div class="github-inline">
			<a class="btn btn-success btn-xs text-center margin-one" id="gf" href="https://github.com/theaxec/followers" title="Go to TheAxeC GitHub followers page" target="_blank"></a>
		</div>
		<div class="github-inline">
			<a class="btn btn-success btn-xs text-center margin-one" id="gfr" href="https://github.com/theaxec/repositories" title="Go to TheAxeC GitHub repositories page" target="_blank"></a>
		</div>
	</div>

	<div class="margin-one">
		<a href="https://twitter.com/TheAxeC" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @TheAxeC</a>
	</div>

	<a class="btn btn-social-icon btn-github" href="http://github.com/theaxec" title="Go to github.com/theaxec">
		<span class="fa fa-github"></span>
	</a>

	<a class="btn btn-social-icon btn-linkedin" href="http://be.linkedin.com/in/axelfaes" title="Go to LinkedIn profile">
		<span class="fa fa-linkedin"></span>
	</a>

	<a class="btn btn-social-icon btn-twitter" href="http://www.twitter.com/TheAxeC" title="Go to twitter.com/theaxec">
		<span class="fa fa-twitter"></span>
	</a>
</div>
