<div class="custom-nav">
	<nav>
		<div class="nav-button" >
				<a href="/publications.html" class="button">publications</a>
		</div>
		<!-- <div class="nav-button" >
				<a href="/projects.html" class="button">projects</a>
		</div> -->
		<div class="nav-button" >
				<a href="/blog.html" class="button">blog</a>
		</div>
		<div class="nav-button" >
				<a href="/aboutme" class="button">about</a>
		</div>
	</nav>
	<div class="nav-home" >
			<a href="/" class="button">home</a>
	</div>
</div>
