<script type="text/javascript">
	/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
	var disqus_shortname = 'theaxec'; // required: replace example with your forum shortname
	var disqus_identifier = '{{ page.url }}';
	var disqus_url = '//theaxec.github.com{{ page.url }}';

	/* * * DON'T EDIT BELOW THIS LINE * * */
	(function () {
		var s = document.createElement('script'); s.async = true;
		s.type = 'text/javascript';
		s.src = '//' + disqus_shortname + '.disqus.com/count.js';
		(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
	}());
</script>

<div class="cleanfix post-header post-title">
	<div class="span3 column">
		<h1>{{ page.title }}</h1>

		<h5><strong>{{ page.date | date: "%B %e, %Y" }} <small>. <a href="/category/{{ page.category }}"><u>{{ page.category }}</u></a>

		{% if page.comments %}
		. <a href="//theaxec.github.com{{ page.url }}#disqus_thread" data-disqus-identifier="{{ page.url }}">Comments</a>
		{% endif %}

		</small></strong>
		<br/><small>Tags: {% for tag in page.tags %} <a href="/tags/{{ tag }}/" title="View posts tagged with &quot;{{ tag }}&quot;"><u>{{ tag }}</u></a>  {% if forloop.last != true %} {% endif %} {% endfor %} </small><br/><br/>
	<!-- 	<a href="https://twitter.com/share" class="twitter-share-button" data-via="theaxec">Tweet</a> <g:plusone size="medium"></g:plusone> -->
		</h5>
	</div>
</div>
