---
layout: academic
title: "publications"
permalink: /papers/
float: right
---

<div class="academic-title">
  <h1>{{ site.data.publications.title }}</h1>
</div>

{% include publications/papers.html publication=site.data.publications.journal %}

{% include publications/papers.html publication=site.data.publications.conference %}

{% include publications/papers.html publication=site.data.publications.abstracts %}

{% include publications/papers.html publication=site.data.publications.thesis %}

{% include publications/papers.html publication=site.data.publications.posters %}

{% include publications/papers.html publication=site.data.publications.books %}

{% include publications/papers.html publication=site.data.publications.other %}

{% include publications/papers.html publication=site.data.publications.preparation %}

{% include publications/papers.html publication=site.data.publications.talks %}

{% include publications/media.html %}
