{% if site.data.data.education.content.size > 0 %}
<h2 class="academic">{{ site.data.data.education.title }} </h2>
  <div>
  {% assign edu = site.data.data.education.content %}
  {% for item in edu %}
    <div class="news">
      <time class="news-date" itemprop="datePublished" datetime="{{ item.datetime | date: "%Y-%m-%d"}}">
        <!-- {{ item.datetime | date: "%b, %Y" }} -->
        {{ item.duration }}
      </time>
      <div class="news-announcement">
        <b>{{ item.title | remove: '<p>' | remove: '</p>' | emojify }}</b><br/>
        <div class="news-location">
          {% if item.specialization %}
            {{ item.specialization }} <br/>
          {% endif %}

          {% if item.grade %}
            {{ item.grade }} <br/>
          {% endif %}

          {% if item.location %}
            {{ item.location | remove: '<p>' | remove: '</p>' | emojify }} <br/>
          {% endif %}

          {% if item.about %}
            {{ item.about }}
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
{% endif %}
