{% if site.data.experience.experience.size > 0 %}
  <h2 class="academic">{{ site.data.experience.title }} </h2>
  <div>
  {% assign exp = site.data.experience.experience %}
  {% for item in exp %}
    <div class="news">
      <time class="news-date" itemprop="datePublished" datetime="{{ item.datetime | date: "%Y-%m-%d"}}">
        <!-- {{ item.datetime | date: "%b, %Y" }} -->
        {{ item.duration }}
      </time>
      <div class="news-announcement">
        {% if item.location %}
        {{ item.location | remove: '<p>' | remove: '</p>' | emojify }},
          {% endif %}
          <b>{{ item.title | remove: '<p>' | remove: '</p>' | emojify }}</b><br/>
        <div class="news-location">
          {% if item.about %}
            {{ item.about | newline_to_br | markdownify }}
          {% endif %}

          {% if item.grade %}
            {{ item.grade }} <br/>
          {% endif %}

          
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
{% endif %}
