{% if site.data.data.extracurricular.content.size > 0 %}
  {% assign exp = site.data.data.extracurricular.content %}
  <h2 class="academic">{{ site.data.data.extracurricular.title }} </h2>
  <div>
  {% for item in exp %}
    <div class="news">
      <time class="news-date" itemprop="datePublished" datetime="{{ item.datetime | date: "%Y-%m-%d"}}">
        <!-- {{ item.datetime | date: "%b, %Y" }} -->
        {{ item.duration }}
      </time>
      <div class="news-announcement">
        <b>{{ item.role }} of {{ item.group }}</b>
      
        
        <div class="news-location">
          {% if item.about %}
            {{ item.about | newline_to_br | markdownify }}
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
{% endif %}
