{% if site.data.awards.awards.size > 0 %}
<h2 class="academic">{{ site.data.awards.title }} </h2>
  <div>
  {% assign awards = site.data.awards.awards | sort: 'date' | reverse %}
  {% for item in awards %}
    <div class="news">
      <time class="news-date" itemprop="datePublished" datetime="{{ item.date | date: "%Y-%m-%d"}}">{{ item.date | date: "%b, %Y" }}</time>
      <div class="news-announcement">
        {{ item.title | remove: '<p>' | remove: '</p>' | emojify }}
        <div class="news-location">
          {{ item.location }}
        </div>
        <div class="news-location">
          {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
{% endif %}
