{% if site.data.data.awards.content.size > 0 %}
<h2 class="academic">{{ site.data.data.awards.title }} </h2>
  <div>
  {% assign awards = site.data.data.awards.content | sort: 'date' | reverse %}
  {% for item in awards %}
    <div class="news">
      <time class="news-date" itemprop="datePublished" datetime="{{ item.date | date: "%Y-%m-%d"}}">{{ item.date | date: "%b, %Y" }}</time>
      <div class="news-announcement">
        {% if item.url and item.url != "" %}
          <a href="{{ item.url }}" class="academic">
            <b>{{ item.award }}, </b>
          </a>
        {% else %}
          <b>{{ item.award }}, </b>
        {% endif %}
        {{ item.event }}
        <div class="news-location">
          {{ item.location }}
        </div>
        <div class="news-location">
          {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
{% endif %}
