{% if site.data.projects.projects.size > 0 %}
  {% assign exp = site.data.projects.projects %}
  <h2 class="academic">{{ site.data.projects.title }} </h2>
  <div>
  {% for item in exp %}
    <div class="news">
      <time class="news-date" itemprop="datePublished" datetime="{{ item.datetime | date: "%Y-%m-%d"}}">
        <!-- {{ item.datetime | date: "%b, %Y" }} -->
        {{ item.duration }}
      </time>
      <div class="news-announcement">
        <b>
        {% if item.url != "" %}
        <a href="{{ item.url }}" class="about-link">
            {{ item.title}}
          </a></b>
        {% else %}
          {{ item.title}}</b>
        {% endif %}
      
        
        <div class="news-location">
          {% if item.about %}
            {{ item.about | newline_to_br | markdownify }}
          {% endif %}

          {{ item.role | remove: '<p>' | remove: '</p>' | emojify }}<br/>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
{% endif %}
