{% if site.data.research.active %}
  <h2 class="academic">{{ site.data.research.title }} </h2>

  {% if site.data.research.current.size > 0 %}
    <h3 class="academic">Currently working on </h3>
    {% assign interests = site.data.research.current %}
    {% for item in interests %}
      <div class="interest">
        <div class="news-interest">{{ item.partof }}</div>
        <div class="news-announcement">
          {{ item.title }}
        </div>
      </div>
    {% endfor %}
  {% else %}
  {% endif %}

  {% if site.data.research.thinking.size > 0 %}
    <h3 class="academic">Future research </h3>
    {% assign interests = site.data.research.thinking %}
    {% for item in interests %}
      <div class="interest">
        <div class="news-interest">{{ item.partof }}</div>
        <div class="news-announcement">
          {{ item.title }}
        </div>
      </div>
    {% endfor %}
  {% else %}
  {% endif %}

  {% if site.data.research.interests.size > 0 %}
    <h3 class="academic">Interests </h3>
    {% assign interests = site.data.research.interests %}
    {% for item in interests %}
      <div class="interest">
        <div class="news-interest">{{ item.title }}</div>
        <div class="news-announcement">
          {{ item.content | array_to_sentence_string }}
        </div>
      </div>
    {% endfor %}
  {% endif %}
{% endif %}
