{% if site.data.research.active %}
  <h2 class="academic">{{ site.data.research.title }} </h2>

  {% if site.data.research.current.content.size > 0 %}
    <h3 class="academic">{{ site.data.research.current.title }}</h3>
    {% assign interests = site.data.research.current.content %}
    {% for item in interests %}
      <div class="interest">
        <div class="news-interest">{{ item.partof }}</div>
        <div class="news-announcement">
          {{ item.title }}
        </div>
      </div>
    {% endfor %}
  {% else %}
  {% endif %}

  {% if site.data.research.thinking.content.size > 0 %}
    <h3 class="academic">{{ site.data.research.thinking.title }}</h3>
    {% assign interests = site.data.research.thinking.content %}
    {% for item in interests %}
      <div class="interest">
        <div class="news-interest">{{ item.partof }}</div>
        <div class="news-announcement">
          {{ item.title }}
        </div>
      </div>
    {% endfor %}
  {% else %}
  {% endif %}

  {% if site.data.research.interests.content.size > 0 %}
    <h3 class="academic">{{ site.data.research.interests.title }} </h3>
    {% assign interests = site.data.research.interests.content %}
    {% for item in interests %}
      <div class="interest">
        <div class="news-interest">{{ item.title }}</div>
        <div class="news-announcement">
          {{ item.content | array_to_sentence_string }}
        </div>
      </div>
    {% endfor %}
  {% endif %}
{% endif %}
