\cvsection{{% emit(data['education']['title']) %}}
\begin{cvhonors}
{%
  for i in data['education']['content']:
    emit_tex('\\cvhonor ')
    emit_braces(i['title'])
    emit_braces(i.get('about', ''))
    emit_braces(i['location'])
    emit_braces(i['duration'])
%}
\end{cvhonors}
