\cvsection{{% emit(data['extracurricular']['title']) %}}
\begin{cvoneliners}
{%
  for i in (data['extracurricular']['content']):
    emit_tex('\\cvoneliner ')
    emit_braces(i['title'] + ", " + i['location'])
    emit_braces(i['about'])
    emit_braces(i['duration'])
%}
\end{cvoneliners}
