<!-- <div class="row mt-3"></div> -->
<div class="row mt-3">
    <div class="col">
        <div class="card border-0 shadow-sm bg-white">
            <div class="card-body p-4">

                <div class="row">
                    {% if site.data.data.education or site.data.data.experience %}
                    <div class="col-lg mx-2">
                        {% if site.data.data.education %}
                        <h6>{{site.data.data.education.title}}</h6>
                        <ul class="list-unstyled mb-1">
                            {% for item in site.data.data.education.content %}
                            <li class="media mb-1">
                                <img src="{{ item.logo }}" alt="" style="width: 18px;" class="mr-1 mt-1">
                                <div class="media-body">
                                    <p class="my-0">{{ item.title }}</p>
                                    <p class="small my-0">{{ item.specialization }}</p>
                                    <p class="small my-0">{{ item.location }} <em class="float-right">{{ item.duration }}</em></p>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}

                        {% if site.data.data.education and site.data.data.experience %}
                        <div class="py-2"></div>
                        {% endif %}

                        {% if site.data.data.experience %}
                        <h6>{{site.data.data.experience.title}}</h6>
                        <ul class="list-unstyled mb-1">
                            {% for item in site.data.data.experience.content %}
                            <li class="media mb-1">
                                <img src="{{ item.logo }}" alt="{{ item.name }}" style="width: 18px;" class="mr-1 mt-1">
                                <div class="media-body">
                                    <p class="my-0">{{ item.title }}</p>
                                    <p class="small my-0">{{ item.about }}</p>
                                    <p class="small my-0">{{ item.location }} <em class="float-right">{{ item.duration }}</em></p>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    {% endif %}
                    {% if site.data.data.awards or site.data.data.extracurricular or site.data.data.projects %}
                    <div class="col-lg mx-2">
                        {% if site.data.data.awards %}
                        <h6>{{site.data.data.awards.title }}</h6>
                        <ul class="list small pl-3 mb-1">
                            {% for item in site.data.data.awards.content %}
                            <li>{{ item.award }} <em class="">{{item.event}}</em> ({{item.location}})</li>
                            {% if item.content %}
                            <p class="small my-0">{{ item.content }}</p>
                            {% endif %}
                            {% endfor %}
                        </ul>
                        {% endif %}

                        {% if site.data.data.awards and site.data.data.extracurricular %}
                        <div class="py-2"></div>
                        {% endif %}

                        {% if site.data.data.extracurricular %}
                        <h6>{{site.data.data.extracurricular.title }}</h6>
                        <ul class="list small pl-3 mb-1">
                            {% for item in site.data.data.extracurricular.content %}
                            <li>{{ item.role }} <em class="">{{item.group}}</em> <em class="float-right">{{item.duration}}</em></li>
                            {% if item.about %}
                            <p class="small my-0">{{ item.about }}</p>
                            {% endif %}
                            {% endfor %}
                        </ul>
                        {% endif %}

                        {% if (site.data.data.awards or site.data.data.extracurricular) and site.data.data.projects %}
                        <div class="py-2"></div>
                        {% endif %}

                        {% if site.data.data.projects %}
                        <h6>{{site.data.data.projects.title }}</h6>
                        <ul class="list-unstyled mb-1">
                            {% for item in site.data.data.projects.content %}
                            <li class="media mb-1">
                                <img src="{{ item.logo }}" alt="{{ item.name }}" style="width: 18px;" class="mr-1 mt-1">
                                <div class="media-body">
                                    {% if item.url and item.url != "" %}
                                      <p class="my-0"><a class="pr-3 no-break" target="_blank" href="{{item.url}}">{{ item.title }} </a></p>
                                    {% else %}
                                        <p class="my-0">{{ item.title }}</p>
                                        {% endif %}
                                    <p class="small my-0">{{ item.about }}</p>
                                    <p class="small my-0">{{ item.role }} <em class="float-right">{{ item.duration }}</em></p>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    {% endif %}
                    
                </div>

            </div>
        </div>
    </div>
</div>
