<div class="row mt-3">
    <div class="col">
        <div class="card border-0 shadow-sm bg-white">
            <div class="card-body p-5">
                <div class="row">
                    <div class="col-md-auto d-none d-md-block">
                        <figure class="figure">
                            <img 
                                src="{{ site.data.website.description.biomed_url }}" 
                                class="figure-img img-fluid img-thumbnail" 
                                style="height: 300px;"
                                data-toggle="tooltip" 
                                data-placement="bottom" 
                                title="{{ site.data.website.description.biomed_caption }}"
                            >
                            <figcaption class="figure-caption text-right"></figcaption>
                        </figure>
                    </div>
                    <div class="col">
                        <div class="mobile_view"> {{ site.data.website.description.research_mobile | newline_to_br | markdownify }} </div>
                        <div class="main_view"> {{ site.data.website.description.research | newline_to_br | markdownify }} </div>

                    </div>
                    
                </div>
            </div>
        </div>        
    </div>
</div>

<div class="row mt-3">
    <div class="col">
        <div class="card border-0 shadow-sm bg-white">
            <div class="card-body p-5">
                <div class="row">
                    <div class="col mobile_view"> {{ site.data.website.description.education_mobile | newline_to_br | markdownify }} </div>
                    <div class="col main_view"> {{ site.data.website.description.education | newline_to_br | markdownify }} </div>
                    <div class="col-md-auto d-none d-md-block">
                        <figure class="figure">
                            <img 
                                src="{{ site.data.website.description.mission_url }}" 
                                class="figure-img img-fluid img-thumbnail" 
                                style="height: 330px;"
                                data-toggle="tooltip" 
                                data-placement="bottom" 
                                title="{{ site.data.website.description.mission_caption }}"
                            >
                            <figcaption class="figure-caption text-right"></figcaption>
                        </figure>
                    </div>
                    
                </div>
            </div>
        </div>        
    </div>
</div>

