{% assign item = include.item %}

{% if item.cover %}
{% assign cover = item.cover %}
{% else %}
{% assign cover = site.data.website.covers | sample: 1 %}
{% endif %}


<div class="publication d-none d-md-block">
    <div class="row no-gutters border-bottom border-gray">
        <div class="col-md-2 col-xl-2 mb-md-0 p-md-3">
            <img src="{{ cover }}" alt="{{  }}" class="lazy w-100 rounded-sm">
        </div>
        <div class="col-md-10 col-xl-10 p-3 pl-md-0">
            <h5 class="mt-0 mb-1 font-weight-normal">{{ item.title }}</h5>
            <p class="mt-0 mb-0 small">{% include widgets/publications_author_list.html authors=item.authors %}</p>
            <p class="mt-0 mb-0 small">{{item.pub_pre}}<i>{{ item.book }}</i> {{ item.pub_post }} {{ item.pub_date }} {{ item.pub_last }}</p>
            {% if item.from and item.from != "" %}
            <p class="mt-0 mb-0 small text-muted">{{ item.from }}</p>
            {% endif %}
            <p class="mt-0 mb-0 small text-muted">{{ item.abstract }}</p>
            
            <p class="small pb-0 mb-0 lh-125 text-muted abstract-links">
                {% if item.url and item.url != "" %}
                <a target="_blank" href="{{ item.url }}">[Link]</a>
                {% endif %}

                {% for link in item.links %}
                {% if link[1].url %}
                <a target="{{ link[1]['target'] }}" href="{{ link[1]['url'] }}">[{{ link[0] }}]</a>
                {% else %}
                <a target="_blank" href="{{ link[1] }}">[{{ link[0] }}]</a>
                {% endif %}
                {% endfor %}
            </p>

        </div>
    </div>
</div>

<div class="card text-dark small-pub w-100 d-md-none mt-3 border-top-0 border-right-0 border-left-0 rounded-0" style="overflow-y: scroll;">
    <div class="card-body d-flex align-items-start flex-column" style="background-color: rgba(255, 255, 255, 0.85);">
        <div class="mb-auto"></div>
        <div>
            <h7 class="mt-0 mb-0 font-weight-normal">{{ item.title }}</h7>
            <p class="mt-0 mb-0 small">{% include widgets/publications_author_list.html authors=item.authors %}
            {{item.pub_pre}}<i>{{ item.book }}</i>{{ item.pub_post }} {{ item.pub_date }} {{ item.pub_last }}
            {% if item.from and item.from != "" %}
            {{ item.from }}
            {% endif %}
                {% if item.url and item.url != "" %}
                <a target="_blank" href="{{ item.url }}">[Link]</a>
                {% endif %}

                {% for link in item.links %}
                {% if link[1].url %}
                <a target="{{ link[1]['target'] }}" href="{{ link[1]['url'] }}">[{{ link[0] }}]</a>
                {% else %}
                <a target="_blank" href="{{ link[1] }}">[{{ link[0] }}]</a>
                {% endif %}
                {% endfor %}
        </p>
        </div>
    </div>
</div>