<h2>Axel Faes <br/><small>Computer Science Student at KULeuven</small></h2>
<div class="description">
I am a Computer Science Engineering student at the KULeuven. My specialisation in my masters is Artificial Intelligence and Theoretical Computer Science. My main interests include programming languages, distributed systems and artificial intelligence. <br/><br/>
I am participating in the Honoursprogramme of the Faculty of Engineering Science (research track) at KULeuven.<br/><br/>
I am also a big supporter of open source software. 
A lot of the projects I made are available on Github.
</div>