<a name="education" id="education" >
<h3  id="education" class='category'>Education</h3>
</a>
<div class="about-content">
	<h4>Master of Science in Engineering (M.Sc.) in Computer Science <br/><small class="location">University of Leuven</small><br/><small> Sept 2016 - July 2018</small></h4>
	<div class="description-about">
	Specialization: Artificial Intelligence & Theoretical Computer Science <br/>
	Participant of the Honoursprogramme of the Faculty of Engineering Science
		<div class="">
			<h5>Courses:</h5>
			<div class="author-list">
				<li class="author">Uncertainty in AI</li>
				<li class="author">Neural Computing</li>
				<li class="author">Machine learning and Inductive Inference</li>
				<li class="author">Distributed systems</li>
			</div>
		</div>
	</div>

	<h4>Bachelor of Science (B.Sc.) in Computer Science: Magna Cum Laude<br/><small class="location">Hasselt University</small><br/><small> Sept 2013 - July 2016</small></h4>
	<div class="description-about">
	Minor: Physics and General courses <br/>

	Bachelorthesis: Machine learning techniques for flow-based network intrusion detection systems
	Awarded with the Bachelor Award 2015-2016
		<div class="">
			<h5>Courses:</h5>
			<div class="author-list">
				<li class="author">Technologies and Tools for User Interfaces</li>
				<li class="author">Advanced Database Technology</li>
				<li class="author">Software engineering</li>
			</div>
		</div>
	</div>

	<h4>Business Summer School: United in Manchester (0739), International Business<br/><small class="location">The University of Manchester</small><br/><small> July 2015 - Aug 2015</small></h4>
	<div class="description-about">
	An international business school during the Summer.
	</div>
</div>
