<a name="experience" id="experience" >
<h3 id="experience" class='category'>Experience</h3>
</a>
<div class="about-content">
	<h4>Honoursprogramme: Development of an optimized compiler for the Eff programming language <br/><small class="location">University of Leuven</small><br/><small> Sept 2016 - Current</small></h4>
	<div class="description-about">
		Part of the Honoursprogramme of the Faculty of Engineering Science (research track). My project is part of the C1 project: Algebraic Effect Handlers: Harnessing the Fundamental Power of Effects. Eff is a functional programming language that uses handlers to handle all kinds of effects. These effects could be I/O, exceptions, user-defined, etc. My task is to design, implement, benchmark and formally proof new optimisations in the Eff compiler. The compiler is written in OCaml.
	</div>


	<h4>Web performance research intern <br/><small class="location">Hasselt University</small><br/><small> July 2016 - Sept 2016</small></h4>
	<div class="description-about">
	I work on the iMinds PRO-FLOW project. <br/>
	My work involved creating multiple usecases to measure website performance. The main focus is on the difference between the http versions (http1.1, https, http2).
	During the project, I had to utilise multiple servers, maintain and extend the nodejs framework used to measure website performance, and manually optimize commercial websites using PHP, JS, HTML and CSS.
	</div>

	<h4>Member of Student Council <br/><small class="location">Hasselt University</small><br/><small> Aug 2015 - Aug 2016</small></h4>
	<div class="description-about">
	Member of Board of Education <br/>
	Member of Faculty Council<br/>
	Member of Board of Student Facilities<br/>
	Member of Diversity Commission
	</div>

	<h4>Summer Internship Physical Computing<br/><small class="location">Hasselt University</small><br/><small> Aug 2015 - Sept 2016</small></h4>
	<div class="description-about">
	Work on a project which focuses on the interaction between a human entity and a drone, aswell as interaction between the drone and virtual objects. This project is written in C++, used the Optitrack motion capture and a custom created drone.
	</div>

	<h4>Member of Student Council <br/><small class="location">Hasselt University</small><br/><small> Mar 2015 - Aug 2015</small></h4>
	<div class="description-about">
	Member of Board of Education <br/>
	Member of Faculty Council<br/>
	</div>
</div>
