<a name="experience" id="experience" >
<h3 id="experience" class='category'>Experience</h3>
</a>
<div class="about-content">
	<h4>Web performance research intern <br/><small class="location">Hasselt University</small><br/><small> July 2016 - Sept 2016</small></h4>
	<p class="description-about">
	I work on the iMinds PRO-FLOW project. <br/><br/>

	My work involves creating multiple usecases to measure website performance. 
	The main focus is on the difference between the http versions (http1.1, https, http2).
	</p>

	<h4>Member of Student Council <br/><small class="location">Hasselt University</small><br/><small> Aug 2015 - Aug 2016</small></h4>
	<p class="description-about">
	Member of Board of Education <br/>
	Member of Faculty Council<br/>
	Member of Board of Student Facilities<br/>
	Member of Diversity Commission	
	</p>

	<h4>Summer Internship Physical Computing<br/><small class="location">Hasselt University</small><br/><small> Aug 2015 - Sept 2016</small></h4>
	<p class="description-about">
	Summer job at EDM, Expertise centre for Digital Media, UHasselt. <br/><br/>

	Work on physical interaction with a drone. 
	</p>

	<h4>Member of Student Council <br/><small class="location">Hasselt University</small><br/><small> Mar 2015 - Aug 2015</small></h4>
	<p class="description-about">
	Member of Board of Education <br/>
	Member of Faculty Council<br/>
	</p>
</div>