<a name="honors" id="honors">
<h3 id="honors" class='category'>Honors & Awards</h3>
</a>
<div class="about-content">
	<h4>Bachelor Award in Computer Science <br/><small class="location">Hasselt University</small><br/><small> July 2016</small></h4>
	<p class="description-about">
	Award presented by the examination committee of Computer Science at Hasselt University for meritorious achievements, and contribution to a positive image of the bachelor in Computer Science.
	</p>
	<h4>2nd place BeGDC (Belgian Game Development Championship)<br/><small class="location">De Nationale Loterij and Vasco Data Security</small><br/><small> February 2016</small></h4>
	<p class="description-about">
	Award presented by the examination committee of Computer Science at Hasselt University for meritorious achievements, and contribution to a positive image of the bachelor in Computer Science.
	</p>
	<h4>IELTS: Academic Module<br/><small class="location">Score: 8/9</small><br/><small> Jan 2016</small></h4>
	<p class="description-about">
	An international standardised test of English language proficiency for non-native English language speakers.
	</p>
	
</div>