<a name="publications" id="publications">
<h3 id="publications" class='category'>Publications</h3>
</a>
<div class="about-content">
	Kashyap Todi, Brent Berghmans, Axel Faes and Matthijs Kaminski, <a href="http://dl.acm.org/citation.cfm?id=2890372&CFID=613985972&CFTOKEN=62651444" class="about-publication">"Household Survival: Immersive Room-Sized Gaming Using Everyday Objects as Weapons"</a>, ACM CHI EA '16
	<br /><br />
	Kashyap Todi, Donald Degraen, Brent Berghmans, Axel Faes, Matthijs Kaminski and Kris Luyten, <a href="http://dl.acm.org/citation.cfm?id=2892448&CFID=613985972&CFTOKEN=62651444" class="about-publication">"Purpose-Centric Appropriation of Everyday Objects as Game Controllers"</a>, ACM CHI EA '16
	<h4>
</div>